# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Vaadin
node_modules/
frontend/generated/
src/main/frontend/generated/
src/main/bundles/
vite.generated.ts
package-lock.json
pnpm-lock.yaml
tsconfig.json
types.d.ts

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db

# Logs / env
*.log
.env
/vite.config.ts
/package.json
/.air
